body{
    top: 0;
    font-size: 16px;
    width: 1000px;
    margin: auto;
}

html{
    top: 0;
}

h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

img{
    width: 200px;
    height: 200px;
}

a.no-color-change{
    color:#000000;
}

.wrapper{
    display: flex;
}

.left{
    width:30%
}

.right{
    width: 70%;
}

header{
    background-color:rgb(6, 83, 250);
    color:#ffffff
}

header h1{
    margin-top: 0;
    padding-top: 5px;
    font-size: 24px;
    text-align: center;
}

header p{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    text-align: right;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

fieldset{
    text-align: left;
    padding: auto;
}

textarea{
    width: 400px;
    resize: none;
}

.list_table{
    border-collapse: collapse;
    margin: auto;

}

.list_table th{
    border: solid 1px;
    padding: 5px;
    font-size: 14px;
    background-color: gray;
    color: #ffffff;
}
.list_table td{
    border: solid 1px;
    padding: 5px;
    font-size: 14px;
}