body{
    width: 1000px;
    font-size: 16px;
    top: 0;
    margin: auto;
}

header{
    background-color:rgb(6, 83, 250);
    color:#ffffff
}

header h1{
    margin-top: 0;
    padding-top: 5px;
    font-size: 24px;
    text-align: center;
}

header p{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    text-align: right;
}

h1{
    font-size: 20px;
    text-align: center;
}

table{
    border-collapse: collapse;
}

table th{
    background-color: gray;
    color: #ffffff;
    font-size: 14px;
}

table td{
    border: solid 1px;
    padding: 5px;
    font-size: 14px;
}
